@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
margin:0;
height:100vh;
overflow:hidden;
background:radial-gradient(circle,#1b0033,#000);
display:flex;
justify-content:center;
align-items:center;
font-family:'Great Vibes',cursive;
}

.container{
text-align:center;
color:white;
padding:20px;
}

h1{
font-size:36px;
text-shadow:0 0 25px hotpink;
}

.buttons{
margin-top:25px;
display:flex;
gap:20px;
justify-content:center;
}

button{
padding:14px 26px;
font-size:20px;
border:none;
border-radius:30px;
}

#yes{
background:#ff0066;
color:white;
box-shadow:0 0 20px pink;
}

#no{
background:#111;
color:white;
position:absolute;
}

#final{
display:none;
animation:pop 1s ease;
}

@keyframes pop{
from{transform:scale(0);}
to{transform:scale(1);}
}

img{
width:250px;
border-radius:20px;
box-shadow:0 0 30px hotpink;
margin-top:15px;
}

p{
font-size:22px;
}

.heart{
position:absolute;
animation:float 6s linear infinite;
}

@keyframes float{
0%{bottom:-20px;}
100%{bottom:100%;}
}

.confetti{
position:absolute;
animation:fall 3s linear forwards;
}

@keyframes fall{
from{top:0;}
to{top:100%;}
}
