@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
margin:0;
height:100vh;
overflow:hidden;
background: radial-gradient(circle at top,#1b0033,#000);
display:flex;
justify-content:center;
align-items:center;
font-family: 'Great Vibes', cursive;
}

.container {
text-align:center;
color:white;
}

h1 {
font-size:60px;
text-shadow:0 0 25px hotpink;
animation:glow 2s infinite alternate;
}

@keyframes glow {
from {text-shadow:0 0 10px pink;}
to {text-shadow:0 0 30px hotpink;}
}

button {
position:absolute;
padding:15px 35px;
font-size:22px;
border:none;
border-radius:40px;
cursor:pointer;
transition:.2s;
}

#yes {
background:#ff0066;
color:white;
box-shadow:0 0 25px #ff66a3;
left:40%;
}

#yes:hover {
transform:scale(1.15);
}

#no {
background:#111;
color:white;
left:55%;
}

.heart {
position:absolute;
font-size:20px;
animation:float 6s linear infinite;
}

@keyframes float {
0%{bottom:-20px;opacity:1;}
100%{bottom:100%;opacity:0;}
}

#meme {
display:none;
animation:pop 1s ease;
}

@keyframes pop {
from {transform:scale(0);}
to {transform:scale(1);}
}

img {
width:300px;
border-radius:20px;
box-shadow:0 0 30px hotpink;
}

p {
font-size:30px;
}

.confetti {
position:absolute;
font-size:22px;
animation:fall 3s linear forwards;
}

@keyframes fall {
from {top:0;}
to {top:100%;}
}
